<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="ElCodigo:AddToFavorites" type="ElCodigo.CustomButtons.Favorites.AddToFavorites,ElCodigo"/>
      <command name="ElCodigo:GoToFavorite" type="ElCodigo.CustomButtons.Favorites.GoToFavorite,ElCodigo"/>
    </commands>
  </sitecore>
</configuration>