<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="ElCodigo:AddToFavorites" type="ElCodigo.CustomButtons.Favorites.AddToFavorites,ElCodigo"/>
      <command name="ElCodigo:RemoveFromFavorites" type="ElCodigo.CustomButtons.Favorites.RemoveFromFavorites,ElCodigo"/>
    </commands>
    <events>
      <event name="item:deleting">
        <handler type="ElCodigo.CustomButtons.Events.DeleteCheck, ElCodigo" method="OnDelete" />
      </event>
      <event name="item:renamed">
        <handler type="ElCodigo.CustomButtons.Events.RenameCheck, ElCodigo" method="OnRename" />
      </event>
    </events>
    <sitecore.experienceeditor.speak.requests>
      <request name="ExperienceEditor.Favorites.GetFavoriteItem" type="ElCodigo.CustomButtons.Pipeline.GetFavoriteItem, ElCodigo"/>
    </sitecore.experienceeditor.speak.requests>
  </sitecore>
</configuration>